%audio{:autoplay => "", :controls => ""}
%input{:onclick => "startRecording()", :type => "button", :value => "start recording"}/
%input{:onclick => "stopRecording()", :type => "button", :value => "stop recording and play"}/